@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

/* =============================== */
/* ========= MEU TEMA ============ */
/* =============================== */


/* GERAL */

body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
    background: none repeat scroll 0 0 white;
    color: #333 !important;
    font-family: "Georgia","Times New Roman",serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"] {
	background-color: #FFF;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.075);
}

p {
	line-height: 1.5;
	margin: 8px 0 19px;
}

a {
    color: #005abb;
    text-decoration: none;
}

a:focus, a:active, a:hover {
    text-decoration: underline;
}

/* FIM */


/* BARRA LATERAL */

.dijitTreeIsRoot > .dijitTreeRow {
    font-family: 'Helvetica';
    color: #333;
    font-weight: bold;
}
.claro .dijitTreeRow {
    cursor: pointer;
    padding: 4px 0;
}
.claro .dijitTreeRow:hover {
    background: none repeat scroll 0 0 #FFFCBF;
    box-shadow: 4px 0 0 #FFFCBF;
    -webkit-box-shadow: 4px 0 0 #FFFCBF;
    -moz-box-shadow: 4px 0 0 #FFFCBF;
    border: 0px;
}

.claro .dijitTreeRow:hover span.counterNode {
	background: #FFFCBF;
}

.claro .dijitTreeRowSelected:hover span.counterNode {
	background: #005abb;
}

.claro .dijitSelect .dijitInputField, .claro .dijitTextBox .dijitInputField {
	padding: 0px 2px;
}

.claro .dijitTreeRowSelected {
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: rgba(0, 0, 0, 0.125) rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 0;
    box-shadow: 5px 0 0 #005abb inset;
    -webkit-box-shadow: 5px 0 0 #005abb inset;
    -moz-box-shadow: 5px 0 0 #005abb inset;
    padding: 4px 0;
}

.claro .dijitTreeRowSelected:hover {
	box-shadow: 5px 0 0 #005abb inset;
    -webkit-box-shadow: 5px 0 0 #005abb inset;
    -moz-box-shadow: 5px 0 0 #005abb inset;
    background:#FFFCBF;
}
.claro .dijitSplitContainer-dijitContentPane, .claro .dijitBorderContainer-dijitContentPane {
    padding: 0;
}
span.counterNode {
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    color: #AAB;
    float: right;
    font-family: 'Helvetica';
    font-size: 11px;
    margin-right: 5px;
    margin-top: 2px;
    padding: 0 2px;
    border: 1px solid #CCD;
    text-align: right;
    font-weight: 500;
    position: absolute;
    right: 0;
    background-color: #FFF;
    line-height: 1.35;
}

span.counterNode:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: transparent;
}

.claro .dijitTreeRowSelected span.counterNode {
    background: none repeat scroll 0 0 #005abb;
    border: 1px solid #005abb !important; 
    color: #FFFFFF;
    margin-right: 5px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.125);
}

.claro .dijitSplitterV {
    background: none repeat scroll 0 0 #FFF;
    border-right: 1px solid #DFE5E6;
    border-left: 0px none;
    margin-left: 0px;
    box-shadow: 0 -30px 0 #005abb;
    -webkit-box-shadow: 0 -30px 0 #005abb;
    -moz-box-shadow: 0 -30px 0 #005abb;
    margin-top: 30px;
    width: 8px;
}

.claro .dijitSplitterV:hover,
.claro .dijitSplitterV:active,
.claro .dijitSplitterV:focus {
    border-right: 1px dashed #DFE5E6;
}

img.dijitFolderClosed {
    background: url('iconsheet.png') -18px -2px transparent no-repeat scroll;
}
img.dijitFolderOpened {
    background: url("iconsheet.png") no-repeat scroll -18px -19px transparent;
    padding-right: 1px;
}
img.dijitTreeExpandoClosed {
    background: url("iconsheet.png") no-repeat scroll 4px -2px transparent !important;
}
img.dijitTreeExpandoOpened {
    background: url("iconsheet.png") no-repeat scroll 4px -19px transparent !important;
}
div#feeds-holder {
    border: 0 solid #FAFAFA;
    background: #FFF;
    box-shadow: 0 30px 0 #005abb inset;
    -webkit-box-shadow: 0 30px 0 #005abb inset;
    -moz-box-shadow: 0 30px 0 #005abb inset;
    padding-top: 30px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
}

div#feeds-holder:before {
	content: "Tiny Tiny RSS";
    position: absolute;
    margin-top: -29px;
    font-family: 'Abril Fatface';
    color: #FAFAFA;
    font-size: 18px;
    margin-left: 10px;
    /*text-shadow: 0px 1px 0 rgba(0,0,0,0.125);*/
}

/* FIM */


/* BARRA PRINCIPAL */

div#content-wrap {
    background-color: #FFF;
    width: 100% !important;
    box-shadow: 0 30px 0 #005abb inset;
    -webkit-box-shadow: 0 30px 0 #005abb inset;
    -moz-box-shadow: 0 30px 0 #005abb inset;
}
div#header-wrap {
    border: 0 none;
    width: 80% !important;
}
div#headlines-wrap-inner {
    top: 0px !important;
    height: 100% !important;
    padding-left: 0px !important;
    width: 100% !important;
    left: 0 !important;
}

span.titleWrap {
    font-family: 'Helvetica';
    font-size: 28px;
    font-weight: bold;
}

div.hlFeed {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Helvetica';
    border: 1px solid #005abb;
    border-radius: 3px;
    padding: 1px 2px;
    margin-top: 2px;
    background: #005abb;
}

div.hlFeed a {
    color: #FFF;
    text-decoration: none;
    background-color: transparent !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.125);
}

div.scoreWrap {
    display: inline-block;
    margin-left: 2px;
    vertical-align: bottom;
}

span.titleWrap a {
    color: #333;
    font-weight: normal;
    text-decoration: none;
    background: transparent;
    font-family: Abril Fatface;
    font-size: 42px;
    line-height: 1;
    text-align: left;
}

span.titleWrap a:hover,
span.titleWrap a:focus,
span.titleWrap a:active {
    text-decoration: underline;
}

span.titleWrap span.author {
    font-size: 13px;
    font-family: Helvetica;
    color: #AAA;
    font-weight: normal;
    display: inline-block;
}

span.updated {
    color: #A4A4A4;
    float: left;
    font-family: Helvetica;
    margin-top: -65px;
    padding: 1px 4px;
    position: relative;
}

.expanded hr {
    border-bottom: 3px solid #DFE5E6;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    width: 75%;
    margin: 50px auto 10px;
}

#headlines-spacer {
	margin-bottom: 50px;
}

#headlines-spacer:after {
	
}

/* caixa do título */

div#floatingTitle {
    display: none;
}
/* fim */
/* FIM */

/* "BARRA" TOPO */

div.cdmHeader {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #DFE5E6;
}

.claro .dijitToolbar {
    background: none repeat scroll 0 0 transparent;
    padding-right: 5px;
    text-align: right;
    border: 0 none;
    color: #858585;
    margin-top: 3px !important;
    font-size: 13px;
}
div#toolbar {
	border: 0 none !important; 
    left: 0px !important;
    top: -1px !important;
    width: 50% !important;
    overflow: hidden;
    background: transparent;
    z-index: 20;
    position: relative !important;
    float: right;
}

div#toolbar:hover {
	width: 100% !important;
}

div#toolbar div.dijitReset {
    color: #F0F0F0;
}

.dijitDropDownButton,
.dijitComboButton {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125) inset;
    font-family: 'Helvetica';
    color: #FFF;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.125);
}

.dijitComboButton,
.dijitSelect {
    margin-left: 5px !important;
}

.dijitComboButton div.dijitReset {
    text-shadow: 0px 1px 0px rgba(0,0,0,0.125);
}

.dijitTreeRow img {
    max-width: 16px;
    max-height: 16px;
}

div.actionChooser,
div#dijitComboButton {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-top: -23px;
}

div.actionChooser:hover,
div.actionChooser:active,
div.actionChooser:focus,
div#dijitComboButton:hover,
div#dijitComboButton:active,
div#dijitComboButton:focus {
    margin-top: -24px;
}

form#main_toolbar_form {
    margin-right: 90px;
}

div#headlines-toolbar {
    border: 0px;
    padding: 0px 0 0;
    text-align: left;
    font-family: Helvetica;
    font-weight: 500;
    top: 4px!important;
    left: 0 !important;
    background: transparent;
    color: #F0F0F0;
    background: transparent;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.125);
    font-size: 13px;
}

div#headlines-toolbar a {
    text-decoration: none;
    color: #F0F0F0;
}

div#headlines-toolbar a:hover,
div#headlines-toolbar a:active,
div#headlines-toolbar a:focus{
    text-decoration: underline;
}

div#headlines-toolbar > span:first-child {
    margin-left: 0px;
}

div#headlines-toolbar > span,
div#headlines-toolbar > a {
    margin-top: 2px;
    display: inline-block;
}

div#headlines-frame {
    border: 0px solid #DFE5E6;
    border-right: 0 none;
    padding: 30px 0 0;
    margin-bottom: 400px; 
    top: 30px !important;
    width: 100% !important;
    left: -8px !important;
    height: 100% !important;
}

div#headlines-frame > div {
    padding: 32px 200px 0 180px;
	text-align: justify;
}

div#headlines-frame > div:first-child {
    padding-top: 10px;
    margin-top: -10px;
}

span.dijitTreeLabel, span#dijitTreeLabel {
    color: #565656;
}

div.cdmHeader > div:first-child {
    display: inline-block;
    float: right;
    position: relative;
    top: -16px;
}

div.cdmHeader > div > img {
    margin: 0 2px;
}

div.cdmHeader > div > img.markedPic {

}
div.cdmHeader > div > img.pubPic {
   
}

.claro .dijitCheckBoxIcon {
	margin: -8px 3px 0 0 !important;
}

.dijitCheckBox {
    margin-left: 0px !important;
    padding-right: 1px;
    margin-top: -8px !important;
}

div#headlines-frame div.active {
    box-shadow: none;
}

img[title="Tags"] {
    margin-bottom: -3px;
    margin-right: 2px;
}

div.cdmFooter > div > img {
    margin: 0px 5px;
}

div.cdmFooter > div > img:last-child {
    margin: 0px;
}

span.r {
    float: left;
    border-right: 1px solid #005ab;
    box-shadow: 1px 0 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.25);
    margin-right: 7px;
    margin-left: 3px;
}

span.r a:hover {
    
}

span#feed_title a {
    font-family: 'Helvetica';
    padding: 1px 0 0 1px;
    text-decoration: none;
}

span#selected_prompt {
    margin-right: 10px;
    color: #FFF;
    font-weight: bold;
    margin-right: 7px;
    padding-right: 7px;
    border-right: 1px solid rgba(0,0,0,0.25);
    background: transparent;
}

span.r a {
    vertical-align: bottom !important;
    margin-right: 7px;
}

.claro .dijitSelect,
.claro .dijitSelect .dijitButtonContents,
.claro .dijitTextBox,
.claro .dijitTextBox .dijitButtonNode {
    border: 0 none;
    font-family: Helvetica;
    background: #3a7dda;
    padding: 1px 2px;
    color: #F0F0F0;
}

.claro .dijitSelect .dijitArrowButtonInner,
.claro .dijitComboBox .dijitArrowButtonInner,
.claro .dijitSelect .dijitArrowButtonInner:hover,
.claro .dijitComboBox .dijitArrowButtonInner:hover,
.claro .dijitSelect .dijitArrowButtonInner:active,
.claro .dijitComboBox .dijitArrowButtonInner:active,
.claro .dijitSelect .dijitArrowButtonInner:focus,
.claro .dijitComboBox .dijitArrowButtonInner:focus {
    background: url('iconsheet.png') no-repeat -75px -18px #3a7dda scroll;
}

.claro .dijitArrowButtonInner,
.claro .dijitArrowButtonInner:hover,
.claro .dijitArrowButtonInner:active,
.claro .dijitArrowButtonInner:focus {
    background: url('iconsheet.png') no-repeat -75px -20px #3a7dda scroll;
    padding: 0 1px;
}

.claro .dijitSelect .dijitArrowButton,
.claro .dijitToolbar .dijitComboButton .dijitArrowButton,
div.actionChooser .dijitArrowButtonInner {
	background-color: #3a7dda;
    box-shadow: 0 -1px 0 #3a7dda inset, 0 1px 0 #3a7dda inset, -1px 0 0 #005abb;
    padding: 0;
    border: 1px solid #3a7dda !important;
}

.claro .dijitToolbar .dijitComboButton .dijitStretch,
.dijitDropDownButton .dijitButtonText {
	background: none repeat scroll 0 0 #3a7dda;
    border: 0 none;
    border-radius: 0px;
    font-family: Helvetica;
    padding: 2px 1px;
}

div.actionChooser .dijitArrowButtonInner {
	margin-top: -3px;
    padding: 3px 0px;
    background: url('iconsheet.png') no-repeat -75px -17px #3a7dda scroll;
}

.dijitDropDownButton .dijitButtonText {
	color: #F0F0F0;
    margin-top: -3px;
    padding: 3px 5px;
}

table#dijit_form_Select_3,
table#dijit_form_Select_4,
table#table#dijit_form_Select_8 {
    margin-right: 5px;
    margin-left: 2px;
}

/* FIM */

/* CLARO */

.claro .dijitDialog {
    border: 0px none;
}

.claro .dijitDialogPaneContent {
    background: #FFF;
    border-color: #DFE5E6;
    border-top: 0px none;
}

div.dijitDialogTitleBar {
    background: none repeat scroll 0 0 #333333 !important;
    font-family: 'Helvetica';
    font-weight: 500;
    border-top: 1px solid #333 !important;
    border-left: 0px solid #333 !important;
    border-right: 0px solid #333 !important;
    border-bottom: 3px solid #005abb !important;
    border-radius: 2.5px 2.5px 0 0;
    -webkit-border-radius: 2.5px 2.5px 0 0;
    -moz-border-radius: 2.5px 2.5px 0 0;
}

div.dijitDialogTitleBar .dijitDialogTitle {
    color: #FFF;
}

div#feedTree {
    overflow-x: hidden;
}

div#dijit__TreeNode_1 {
    border-bottom: 0px solid #EEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div#dijit__TreeNode_1 > div:first-child {
	visibility: hidden;
}

/* PREFS */

div.prefHelp {
    font-size: 11px;
    color: #858585;
}

.claro .dijitAccordionInnerContainerSelected {
    border: 1px solid #DFE5E6;
    background-color: #FFF;
}

.claro .dijitAccordionContainer .dijitAccordionChildWrapper {
    background-color: #F2F2F2;
    border-color: #DFE5E6;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    padding-top: 5px;
    background: #FFF;
    font-family: 'Helvetica';
}

/* FIM */

/*  FIM  */
